@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@300..700&display=swap');
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Comfortaa", sans-serif;
}

html{
    height: 100%;
}
img{
    width: 100%;
}
section {
    margin:0.5rem;
    box-shadow: 10px 10px 10px -1px rgba(10, 99, 169,0.16),
    -10px -10px 10px -1px rgba(246, 144, 161, 0.3);
    padding: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    
}
body {
    width: 100%;
    margin: auto;

    .container{
        height: 100%;
        display: grid;
        

        .header{
            
            height: 70px;
            background-color: rgb(247, 125, 145);
            padding: 10px 1rem;
        
            display: flex;
            justify-content: space-between;

            .logoImg{

                width: 6rem;
                height: 3rem;
            }

            
            .searchInput{
                    border: none;
                    outline: none;
                    /* width: 100%; */
                    height: 37px;
                    border-radius: 45px;
                    padding: 0 20px; 
                    margin-top: 7px;
                    font-size: 1rem;
                    box-shadow: 5px 5px 5px -1px rgba(10, 99, 169,0.16),
                    -7px -7px 7px -1px rgba(246, 144, 161, 0.2);
            }

            #checkbox {
                display: none;
            }
            #checkbox:checked ~ #mainNav ul {
                max-height: 200px;
                padding: 15px 0;
                transition: all 0.5s;
            }
            .mainNav {
                position: absolute;
                background-color: rgb(247, 125, 145);
                top:70px;
                /* outline: auto; */
                left:0;
                width: 100%;
                z-index: 1;


                ul {
                    /* outline: auto; */

                    list-style-type: none;
                    max-height: 0px;
                    overflow: hidden;
                    transition: all 0.5s;

                    li {
                        padding: 0 15px;
                    }
                    a {
                        display: flex;
                        justify-content: center;
                        padding: 12px;
                        /* Add your custom styles below to change appearance of links */
                        color: white;
                        text-decoration: none;
                        letter-spacing: 0.05em;
                    }
                }
                
                a:hover{
                    display: block;
                    background: white;
                    color:black;
                    display: flex;
                    justify-content: center;
                }
            }



            .menu-icon {
                font-size: 2.4em;
                color: white;
                line-height: 50px;
         
            }
            .hidden{
                display: none;
            }
        }

        .main{
            .slideshowContainer{
                max-width: 100%;
                position: relative;
                margin: auto;}
                .mySlides {display: none;
                    width: 100%;
                    img {
                        height:28rem;
                        vertical-align: middle;
                    }
                }
                .active {
                    background-color: #717171;
                  }

              
            .brands{
                font-size: 30pt;
                padding-top: 5rem;
                .brand{
                    padding-top:5rem;
                    display: grid;
                    grid-template-columns: repeat(auto-fit,minmax(450px,1fr));
                    .card{
                        margin:1.6rem;
                        box-shadow: 10px 10px 10px -1px rgba(10, 99, 169,0.16),
                        -10px -10px 10px -1px rgba(246, 144, 161, 0.3);
                        padding: 1rem;
                        display: flex;
                        flex-direction: column;
                        justify-content: space-around;
                        align-items: center;
                        
                        #button {
                            background-color: rgb(247, 125, 145);
                            color: white;
                            margin-top: 20px;
                            text-transform: uppercase;
                            letter-spacing: 1.5px;
                            font-size: 1rem;
                            border: none; 
                            border-radius: 20px; 
                            padding: 10px 20px; 
                        }
            
                    }

                }
            }

           
    
            

            .topRating {
                font-size: 30pt;
                padding-top: 5rem;
            .topRated{
                font-size: 30pt;
                padding-top: 5rem;
                display: grid;
                grid-template-columns: repeat(auto-fit,minmax(250px,1fr));
                .product {
                    font-size: 10pt;
                    margin:1.6rem;
                    box-shadow: 10px 10px 10px -1px rgba(10, 99, 169, 0.16), -10px -10px 10px -1px rgba(246, 144, 161, 0.3);
                    padding: 1rem;
                    display: flex;
                    flex-direction: column;
                    justify-content: space-around;
          
                    background-color: rgba(255, 255, 255, 0.8); /* Pink background */
                }
                
                .product img {
                    width: 100%; 
                }
                
                .product .product-description, .product .purchase {
                    text-align: center;
                    border: none;
                    border-radius: 20px;
                    padding: 10px 20px;
                    margin: 0.5rem;
                    cursor: pointer;
                    transition: background-color 0.1s, color 0.1s; 
                }
                
                .product .purchase {
                    background-color: rgb(247, 125, 145); 
                    color: white; 
                }
                
                .product:hover .purchase {
                    background-color: white; 
                    color: rgb(247, 125, 145); 
                }
                    .rating {
                        color: yellow; 
                      }
                      .half-star {
                        color: yellow; 
                        position: relative;
                        display: inline-block;
                        width: 0;
                        overflow: hidden;
                      }
                      .half-star::before {
                        content: "\u2605"; 
                        position: absolute;
                        left: 0;
                      }
                      .half-star::after {
                        content: "\u2605"; 
                        position: absolute;
                        left: 0;
                        width: 50%; 
                        overflow: hidden;
                        color: transparent; 
                      }
                }

            

            
        }}
        .footer {
            display: flex;
            justify-content: center;
            padding: 10px;
            background-color: rgb(247, 125, 145);
           
        }
    }

}
@media (min-width: 60rem) { 
    body{
        .container{   
        .header{
            .searchInput{
                margin-right: 40rem;
                margin-left: 3rem;
            }



            .menu-icon {
                display: none;
                outline: auto;
            }
 
            .mainNav {
                position: static;
                height: 100%;

                ul{
                    max-height: 70px;
                    text-align: center;
                    display: flex;
                }
            }
            
        }

    }}

}

.newDiv{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(15rem, 1fr));
    .product {
        font-size: 10pt;
        margin:1.6rem;
        box-shadow: 10px 10px 10px -1px rgba(10, 99, 169, 0.16), -10px -10px 10px -1px rgba(246, 144, 161, 0.3);
        padding: 1rem;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        background-color: rgba(255, 255, 255, 0.8); /* Pink background */
    }
    
    .product img {
        width: 100%; 
    }
    
    .product .product-description, .product .purchase {
        text-align: center;
        border: none;
        border-radius: 20px;
        padding: 10px 20px;
        margin: 0.5rem;
        cursor: pointer;
        transition: background-color 0.1s, color 0.1s; 
    }
    
    .product .purchase {
        background-color: rgb(247, 125, 145); 
        color: white; 
    }
    
    .product:hover .purchase {
        background-color: white; 
        color: rgb(247, 125, 145); 
    }
        .rating {
            color: yellow; 
          }
          .half-star {
            color: yellow; 
            position: relative;
            display: inline-block;
            width: 0;
            overflow: hidden;
          }
          .half-star::before {
            content: "\u2605"; 
            position: absolute;
            left: 0;
          }
          .half-star::after {
            content: "\u2605"; 
            position: absolute;
            left: 0;
            width: 50%; 
            overflow: hidden;
            color: transparent; 
          }
}

  

  

  

  