@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@300..700&display=swap');

/* Reset styles and set default font */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Comfortaa", sans-serif;
}

/* Set HTML height to 100% */
html {
    height: 100%;
   background-color:  rgba(255, 244, 244, 0.8); 
}


header,footer {
   
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 70px;
    background-color: rgb(247, 125, 145);
    padding: 10px;

}

.logo-img {
    width: 5.5rem;
    height: 100%;
}


h3 ,p{

    display:flex;
    justify-content: space-between;
    color: white;
    margin: 0;
}


body {
    width: 100%;
    margin: auto;
}


.main-container {
  background-color: rgba(255, 244, 244, 0.8);
    display: grid;
    grid-template-columns: 1fr 2fr; /* Two equal columns */
    gap: 20px; /* Gap between columns */
}

.product-info-container {
    .product img {
        width: 300px; 
        height: 300px;
    }
    p,h2,h3{    
        color: rgba(87, 13, 24, 0.8); 
        margin: 0.2rem;
    }
}

/* Style for the purchase form container */
.purchase-form-container {
    font-size: 20pt;
    margin:0.5rem; 
    padding: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center; 
    background-color: rgba(255, 244, 244, 0.8); /* Pink background */
}


.product {
    font-size: 10pt;
    margin:0.5rem;
    box-shadow: 10px 10px 10px -1px rgba(10, 99, 169, 0.16), -10px -10px 10px -1px rgba(246, 144, 161, 0.3);
    padding: 1rem;
    display: flex;
    background-color: rgb(255, 255, 255); /* Pink background */
}

/* Style for the purchase form */
#purchaseForm {
    color: rgb(247, 125, 145);;
    flex-direction: column;
    align-items: center; 
    padding-bottom: 100px;
}



#address,#quantity,button {
    width: 100%;
    height: 20%;
    padding: 8px;
    margin-top: 20px;
    margin-bottom: 10px;
    border: none;
    border-radius: 20px;
    box-shadow: 10px 10px 10px -1px rgba(10, 99, 169, 0.16), -10px -10px 10px -1px rgba(246, 144, 161, 0.3);;

}


#purchaseForm button {
    background-color: rgb(247, 125, 145);
    color: white;
    margin-top: 20px;
    text-transform: uppercase;
    letter-spacing: 1.5px;
    font-size: 1rem;
    border: none;
    border-radius: 20px;
    padding: 10px 20px;
    
   
}
#purchaseForm button:hover {
    background-color:  rgba(255, 203, 203, 0.8); 
    color: rgb(247, 125, 145);
}



/* @media (max-width: 767px) {
    
    .main-container {
        grid-template-columns: 1fr; 
    }
} */
